
<div class='header'>
	<form class='au' action="/authoris" method='POST'>
		<p>форма авторизации</p>
		<input name='login'  placeholder="введите имя" type="text">
		<input name='pass'  placeholder="введите пароль" type="text">
		<button>login</button>
	</form>
	<div class="container">статус</div>
</div>

<style>
	.header{
		padding: 80px 0;
		background-color: #eee;
	}
</style>